<mjml>
    <mj-head>
        <mj-title>Here is your <%= range.interval %> analytics report for <%=namesShort%></mj-title>
        <mj-preview>Here is your <%= range.interval %> analytics report for <%=namesShort%></mj-preview>
        <mj-attributes>
            <mj-text color="#fff" font-size="15px" font-family="sans-serif" />
        </mj-attributes>
        <mj-style>
            .apple-link a {
                color: #fff;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important;
            }
            a {
                text-decoration: none;
                color: #fff;
            }
            a[href] {
                text-decoration: none;
                color: #fff;
            }
            u+#body a {
                color: #fff;
                text-decoration: none;
                font-size: inherit;
                font-family: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
            #outlookLink {
                text-decoration: none;
                color: #fff !important
            }
            .mail-detail-content a[href] {
                text-decoration: none;
                color: #fff !important
            }
            #MessageViewBody a {
                color: #fff;
                text-decoration: none;
                font-size: inherit;
                font-family: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
            .nolink {
                text-decoration: none;
                color: #fff !important
            }
            .nolink a {
                text-decoration: none;
                color: #fff !important
            }
            .link {
                text-decoration: none;
                color: #b9b9b9;
            }
            .link a {
                text-decoration: none;
                color: #b9b9b9 !important
            }
            .link a[href] {
                text-decoration: none;
                color: #b9b9b9 !important
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#282d2d" width="1000px" padding="10px">
        <!-- Title -->
        <mj-section full-width="full-width" padding-top="30px" padding-bottom="50px" padding-left="10px" padding-right="10px">
            <!-- Headline and Logo -->
            <mj-column padding-top="20px">
                <mj-section text-align="left" padding="0">
                    <mj-group>
                        <mj-column width="10%" padding="0">
                            <mj-text padding="0">
                                <span style="width: 40px; height: 40px; border-radius: 100%; background: linear-gradient(135deg, #73fac8 0%, #00bee1 100%); display:inline-block;"></span>
                            </mj-text>
                        </mj-column>
                        <mj-column width="90%" padding-left="15px" height="40px">
                            <mj-text font-weight="350" font-size="20px" align="left" padding="0">
                                <%= range.interval.charAt(0).toUpperCase() + range.interval.slice(1) %> Analytics Report
                            </mj-text>
                            <mj-text font-size="15px" css-class="nolink" color="#b9b9b9" align="left" padding="0" padding-top="5px">
                                <%=namesShort%>
                            </mj-text>
                        </mj-column>
                    </mj-group>
                </mj-section>
            </mj-column>
            <!-- Date and Dashboard Link -->
            <mj-column padding-top="20px">
                <mj-section text-align="right" padding="0">
                    <mj-group>
                        <mj-column width="90%" padding="10px" padding-right="20px">
                            <mj-text font-size="15px" align="right" color="#b9b9b9" padding="0" padding-top="5px">
                                <span><%= new Date(generatedAt).toLocaleString() %></span>
                            </mj-text>
                        </mj-column>
                        <mj-column width="10%">
                            <mj-text padding="0" align="right">
                                <a href="<%=endpoint%>" style="border-radius: 100%; width: 20px; height: 20px; background: #333838; padding: 10px; display: inline-block;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#b9b9b9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
                                </a>
                            </mj-text>
                        </mj-column>
                    </mj-group>
                </mj-section>
            </mj-column>
        </mj-section>

        <!-- Overview -->
        <mj-section full-width="full-width" padding-left="10px" padding-top="5px">
            <mj-column>
                <mj-text font-weight="bold" font-size="21px" padding="0">
                    Overview
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section full-width="full-width" padding-top="0" padding-bottom="5px">
            <mj-column inner-background-color="#333838" inner-border-radius="6px" padding="10px">
                <mj-text font-weight="300" font-size="30px" color="#73fac8" align="center" padding-top="25px">
                    <%=viewsInRange%>
                </mj-text>
                <mj-text font-weight="300" font-size="15px" align="center" color="#b9b9b9" padding-bottom="25px">
                    Views this month
                </mj-text>
            </mj-column>
            <mj-column inner-background-color="#333838" inner-border-radius="6px" padding="10px">
                <mj-text font-weight="300" font-size="30px" color="#73fac8" align="center" padding-top="25px">
                    <%=durationAvg%>s
                </mj-text>
                <mj-text font-weight="300" font-size="15px" align="center" color="#b9b9b9" padding-bottom="25px">
                    Average duration
                </mj-text>
            </mj-column>
            <mj-column inner-background-color="#333838" inner-border-radius="6px" padding="10px">
                <mj-text font-weight="300" font-size="30px" color="#73fac8" align="center" padding-top="25px">
                    <%=viewsYear%>
                </mj-text>
                <mj-text font-weight="300" font-size="15px" align="center" color="#b9b9b9" padding-bottom="25px">
                    Views this year
                </mj-text>
            </mj-column>
        </mj-section>

        <!-- Domains -->
        <% domains.forEach(function (domain) { %>
            <mj-section full-width="full-width" padding-left="10px" padding-top="5px">
                <mj-column>
                    <mj-text font-weight="bold" font-size="21px" padding="0" color="#fff" css-class="nolink">
                        <%= domain.title %>
                    </mj-text>
                </mj-column>
            </mj-section>
            <!-- Domain Overview -->
            <mj-section full-width="full-width" padding-top="0" padding-bottom="5px">
                <mj-column inner-background-color="#333838" inner-border-radius="6px" padding="10px">
                    <mj-text font-weight="300" font-size="30px" color="#73fac8" align="center" padding-top="25px">
                    <%= domain.viewsInRange %>
                    </mj-text>
                    <mj-text font-weight="300" font-size="15px" align="center" color="#b9b9b9" padding-bottom="25px">
                        Views this month
                    </mj-text>
                </mj-column>
                <mj-column inner-background-color="#333838" inner-border-radius="6px" padding="10px">
                    <mj-text font-weight="300" font-size="30px" color="#73fac8" align="center" padding-top="25px">
                    <%= domain.durationAvg %>s
                    </mj-text>
                    <mj-text font-weight="300" font-size="15px" align="center" color="#b9b9b9" padding-bottom="25px">
                        Average duration
                    </mj-text>
                </mj-column>
                <mj-column inner-background-color="#333838" inner-border-radius="6px" padding="10px">
                    <mj-text font-weight="300" font-size="30px" color="#73fac8" align="center" padding-top="25px">
                        <%= domain.viewsAvg %>
                    </mj-text>
                    <mj-text font-weight="300" font-size="15px" align="center" color="#b9b9b9" padding-bottom="25px">
                        Average views
                    </mj-text>
                </mj-column>
            </mj-section>
            <!-- Domain details -->
            <% domain.rows.forEach(function (row) { %>
                <mj-section full-width="full-width" padding-top="0" padding-bottom="5px">
                    <% row.forEach(function (insight) { %>
                        <mj-column inner-background-color="#333838" inner-border-radius="6px" padding="10px">
                            <mj-text font-weight="320" font-size="18px" padding-top="25px">
                                <%= insight.title %>
                            </mj-text>
                            <mj-column padding-left="5px" padding-bottom="10px" width="100%">
                                <% insight.data.forEach(function (item) { %>
                                    <mj-text font-size="15px" color="#b9b9b9" >
                                        <% if (item.id.startsWith("http")) { %>
                                            <p style="margin: 0;"><span style="color: #73fac8; margin-right: 2px; display: inline-block; min-width: 23px;"><%= item.count %>x</span> <a css-class="link" style="color:#b9b9b9 !important" href="<%= item.id %>"><%= item.id %></a></p>
                                        <% } else { %>
                                            <p style="margin: 0;"><span style="color: #73fac8; margin-right: 2px; display: inline-block; min-width: 23px;"><%= item.count %>x</span> <%= item.id %></p>
                                        <% } %>
                                    </mj-text>
                                <% }) %>
                            </mj-column>
                        </mj-column>
                    <% }) %>
                </mj-section>
            <% }) %>    
        <% }) %>

        <!-- Domains -->
        <% if (events !== undefined && events.length > 0) { %>
            <mj-section full-width="full-width" padding-left="10px" padding-top="5px">
                <mj-column>
                    <mj-text font-weight="bold" font-size="21px" padding="0">
                        Events
                    </mj-text>
                </mj-column>
            </mj-section>
            <!-- Event items -->
            <% events.forEach(function (row) { %>
                <mj-section full-width="full-width" padding-top="0" padding-bottom="5px">
                    <% row.forEach(function (event) { %>
                        <mj-column inner-background-color="#333838" inner-border-radius="6px" padding="10px">
                            <mj-text font-weight="320" font-size="18px" padding-top="25px">
                                <%= event.title %>
                            </mj-text>
                            <mj-column padding-left="5px" padding-bottom="10px" width="100%">
                                <% event.data.forEach(function (item) { %>
                                    <mj-text font-size="15px" color="#b9b9b9" >
                                        <p style="margin: 0;"><span style="color: #73fac8; margin-right: 5px; display: inline-block; min-width: 23px;"><%= parseFloat(item.count.toFixed(2)) %>x</span> <%= item.id %></p>
                                    </mj-text>
                                <% }) %>
                            </mj-column>
                        </mj-column>
                    <% }) %>
                </mj-section>
            <% }) %>    
        <% } %>

        <mj-section>
            <mj-column>
                <mj-text font-size="12px" css-class="nolink" align="center" color="#b9b9b9">
                    This report was generated with <a href="https://github.com/betahuhn/ackee-report" css-class="link" style="color:#73fac8 !important; text-decoration: none;">ackee-report</a> at <%=generatedAt%> and includes data for the <%=range.input.toLowerCase().split('_').join(' ') %>.
                </mj-text>
                <mj-text font-size="12px" css-class="nolink" align="center" color="#b9b9b9">
                    Email not displayed correctly? Report issues <a href="https://github.com/betahuhn/ackee-report/issues" css-class="link" style="color:#73fac8 !important; text-decoration: none;">here</a>.
                </mj-text>
              </mj-column>
        </mj-section>
    </mj-body>
  </mjml>
  